* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.page-header {
	display: block;
}

.promo {
	display: block;
}
.page-footer {
	display: block;
}

.about {
	display: block;
}